body {
	background-color: #232323;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Avenir";
	font-size: 14px;
}

.main {
	width: 100%;
}

h1 {
	color: #fff;
	font-weight: normal;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 2rem;
}

.content {
	text-align: center;
	background-color: #fff;
	height: 30px;
	color: #000;
}

#message {
	line-height: 30px;
}

.selected {
	background-color: steelblue;
	color: #fff;
}

.reset {
	float: left;
}
.reset:after {
    content: '';
    display: block;
    clear: both;
}

.mode {
	float: right;
}
.mode:after {
    content: '';
    display: block;
    clear: both;
}

button {
	border: none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color: #fff;
}
.container {
	width: 100%;
	margin: 5px 40px;;
}

.square {
	width: 35%;
	background-color: purple;
	padding-bottom: 35%;
	float: left;
	margin: 10px;
	border-radius: 15%;
	transition: background-color .6s;
	-webkit-transition: background-color .6s;
	-moz-transition: background-color .6s;
}

@media (min-width: 780px) {
	body {
		font-size: 20px;
	}

	#colorDisplay {
		font-size: 4rem;
	}

	.mode {
		float: none;
	}
	.reset {
		float: none;
	}

	#message {
		display: inline-block;
		width: 20%;
	}

	.container {
		width: 600px;
		margin: 20px auto;
	}
	
	.square {
		width: 30%;
		padding-bottom: 30%;
		margin: 1.66%;
	}

}